<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test thread-count="5" name="All tests">
        <parameter name="browser" value="Chrome"></parameter>
        <classes>
            <class name="com.shopproject.testcases.AddToCartPageTest" />
            <class name="com.shopproject.testcases.CartPageTest" />
            <class name="com.shopproject.testcases.EndToEndTest" />
            <class name="com.shopproject.testcases.HomePageTest" />
            <class name="com.shopproject.testcases.LoginPageTest" />
            <class name="com.shopproject.testcases.PaymentPageTest" />
            <class name="com.shopproject.testcases.ProductsPageTest" />
            <class name="com.shopproject.testcases.RegisterPageTest" />
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
